<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Change Password</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="form-wrapper py-5 my-4">
        <!--tampilkan alert jika sukses-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Your password updated successfully. <a th:href="@{'/login'}">login here</a>
        </div>
        <div class="headline text-center">
            <h1 class="display-4 fw-bold">Change <span class="highlight-secondary">Password</span>
            </h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
            <p class="lead">Change your password here</p>
        </div>
        <form>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Your new password">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
        <p class="mt-2">Remember your password ? <a class="text-primary" th:href="@{'/signin'}">Sign In here</a></p>
    </div>
</div>
</body>
</html>