<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Forgot Password</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="form-wrapper py-5 my-4">
        <!--tampilkan alert jika sukses-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Success ! Check your email to change your password
        </div>
        <div class="headline text-center">
            <h1 class="display-3 fw-bold">Forgot <span class="highlight-secondary">Password</span>
            </h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
            <p class="lead">Enter your email to reset password</p>
        </div>
        <form th:action="@{'/change-password/token'}">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Reset My Password</button>
            </div>
        </form>
        <p class="mt-2">Remember your password ? <a class="text-primary" th:href="@{'/signin'}">Sign In here</a></p>
    </div>
</div>
</body>
</html>