<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Sign In - Rilite">
    <meta name="description" content="Sign Up to Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="Sign Up Ririlte, Register Rilite, business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Sign In</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="form-wrapper py-5 my-4">
        <div class="headline text-center">
            <h1 class="display-3 fw-bold">Sign <span class="highlight-secondary">In</span>
            </h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
            <p class="lead">Sign In and start growing your business with Rilite</p>
        </div>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
            </div>
            <div class="mb-3">
                <a th:href="@{'/forgot-password'}">Forgot Password ?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </form>
        <div class="d-grid mt-4">
            <a type="submit" class="btn btn-outline-dark">Sign In With Google</a>
        </div>
        <p class="mt-2">Don't have an account ? <a class="text-primary" th:href="@{'/signup'}">Sign Up here</a></p>
    </div>
</div>
</body>
</html>