<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Applied User</title>
</head>
<body>
<div class="px-4 pt-4 pb-5" layout:fragment="content">
    <div class="heading d-flex flex-wrap justify-content-between align-items-center mb-4">
        <h1>Applied User</h1>
    </div>
    <!--tampilkan alert jika tidak ada data-->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        No User Apply to this collaboration !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--applied user list-->
    <div class="table-responsive pb-2">
        <table class="table table-striped">
            <thead>
            <tr class="align-middle">
                <th>User</th>
                <th>Email</th>
                <th>Join As</th>
                <th colspan="2">Join Reasone</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr>
                <td><a th:href="@{'profile/123'}">Dofir Fauzi</a></td>
                <td>dofirfauzi@tazkia.ac.id</td>
                <td>Designer</td>
                <td>Saya Tertarik ingin bergabung karena bisnis ini menurt saya sangat menjanjikan</td>
                <td class="text-end">
                    <a th:href="@{'#'}" class="btn btn-primary my-1">Accept</a>
                    <a th:href="@{'#'}" class="btn btn-danger my-1">Reject</a>
                </td>
            </tr>
            <tr>
                <td><a th:href="@{'profile/123'}">Dofir Fauzi</a></td>
                <td>dofirfauzi@tazkia.ac.id</td>
                <td>Designer</td>
                <td>Saya Tertarik ingin bergabung karena bisnis ini menurt saya sangat menjanjikan</td>
                <td class="text-end">
                    <a th:href="@{'#'}" class="btn btn-primary my-1">Accept</a>
                    <a th:href="@{'#'}" class="btn btn-danger my-1">Reject</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="row align-items-center my-1 my-md-0">
                <div class="col-auto">
                    <!--show options-->
                    <form>
                        <div class="row align-items-center">
                            <label class="col-auto">Show</label>
                            <div class="col-auto p-0">
                                <select class="form-select" id="show">
                                    <option selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--end show options-->
                </div>
                <div class="col-auto">
                    <!--row result-->
                    <p class="mb-1 mt-1">Showing 10 from 1312</p>
                    <!--end row result-->
                </div>
            </div>
            <!--pagination-->
            <nav class="my-1 my-md-0">
                <ul class="pagination mb-0">
                    <li class="page-item disabled"><a class="page-link">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!--end pagination-->
        </div>
    </div>
    <div class="mt-5 text-center d-grid gap-2">
        <a th:href="@{'#'}" class="btn btn-danger my-1">Close Collaboration</a>
        <!--Jika collaboration sudh di close tampilkan btn ini-->
        <a th:href="@{'#'}" class="btn btn-primary my-1">Reopen Collaboration</a>
    </div>
</div>
</body>
</html>