<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Collaboration - Rilite">
    <meta name="description" content="Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <!-- Swiper -->
    <link rel="stylesheet" th:href="@{'/swiper@8.3.2/swiper-bundle.min.css'}">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Collaboration</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="hero-section text-center pt-5 pb-2">
        <div class="headline pb-4">
            <h1 class="display-3 fw-bold">Fino Tech payment</h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
        </div>
    </div>
    <div class="content-body mb-5">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide ratio ratio-16x9"><img th:src="@{'/img/cover.jpg'}" alt="cover"></div>
                <div class="swiper-slide ratio ratio-16x9"><img th:src="@{'/img/sempatin.jpg'}" alt="cover"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="d-flex justify-content-between align-items-end my-4">
            <div class="d-flex">
                <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                <div class="name pe-2">
                    <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                    <span>31 Jan 2022</span>
                </div>
            </div>
            <div>
                <!--tampilkan open jika collaborasi masih dibuka-->
                <button class="btn btn-primary">Open</button>
                <!--tampilkan close jika colaborasi sudah di tutup-->
                <!--<button class="btn btn-danger">Close</button>-->
            </div>
        </div>
        <p class="lead fw-bold">Collaboration Description</p>
        <div class="mb-5">
            <!-- content render-->
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <!-- end content render-->
        </div>
        <p class="lead fw-bold">Join My Business As</p>
        <ul class="list-group mb-5">
        <!--list render-->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Designer</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Marketer</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Investor</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Reseller</span>
            </li>
        </ul>
        <!--call to action section-->
        <div class="collaboration-action text-center py-5 px-2">
            <p class="leads">Are you ready to be my partner ?</p>
            <p class="display-5">let's start collaboration</p>
            <div>
                <!--tampilkan btn business profile jika collaboration di linkkan ke bisnis saat input-->
                <a class="btn btn-primary" th:href="@{'/business/profile/academyfree'}">Business Profile</a>
                <a class="btn btn-primary" th:href="@{/business-collaboration/join(collaborationId=1234)}">Joun Business Now</a>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{'/swiper@8.3.2/swiper-bundle.min.js'}"></script>
</th:block>
</body>
</html>