<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Collaboration - Rilite">
    <meta name="description" content="Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Join Collaboration</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="row align-items-center justify-content-center my-5">
        <div class="col-lg-5 col-md-6">
            <div class="hero-section text-left py-5 px-2">
                <div class="headline">
                    <h1 class="display-5 fw-bold">Join <span class="highlight-secondary">Business</span>
                    </h1>
                    <h class="display-5 fw-bold">Finio Tech Payment</h>
                    <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
                    <div class="d-flex mt-4">
                        <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                        <div class="name pe-2">
                            <span>By.</span>
                            <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 py-5">
            <!--jika belum login jangan tampilkan form, tampilkan alert ini-->
<!--            <div class="alert alert-primary" role="alert">-->
<!--                <h4 class="alert-heading">Opss Sorry</h4>-->
<!--                <p>you have to Sign In first to join, please Sign and come back to this page</p>-->
<!--                <hr>-->
<!--                <a th:href="@{'/signin'}" class="btn btn-primary">Sign In</a>-->
<!--            </div>-->

            <!--tampilkan alert jika form berhasil di submit-->

<!--            <div class="alert alert-success alert-dismissible fade show" role="alert">-->
<!--                <strong>Congratulation</strong> your form has been submitted successfully-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--            </div>-->

            <!--tampilkan alert jika form gagal di submit-->

<!--            <div class="alert alert-danger alert-dismissible fade show" role="alert">-->
<!--                <strong>Sorry</strong> Error Message-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--            </div>-->

            <form>
                <input type="hidden" class="form-control" id="id" value="userid">
                <div class="mb-3">
                    <label class="form-label" for="collaborator">Hi.. I want to Join your bussines as</label>
                    <input type="text" class="form-control" id="collaborator" name="collaborator" placeholder="Exp : Investor, Digital Marketer, Designer" required>
                </div>
                <div class="mb-3">
                    <label for="reason" class="form-label">My Reason to Join Is</label>
                    <textarea class="form-control" id="reason" rows="4"></textarea>
                </div>
                <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>