<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Collaboration - Rilite">
    <meta name="description" content="Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Collaboration</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="hero-section text-center py-5">
        <div class="headline">
            <h1 class="display-3 fw-bold">Business <span class="highlight-secondary">Collaboration</span>
            </h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
            <p class="lead">Find the right business & partners for you and start collaborating</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form class="d-flex justify-content-center mt-5">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3 mb-5">
        <!--start card collaboration item-->
        <div class="col">
                <div class="card">
                    <div class="ratio ratio-16x9">
                        <img th:src="@{'/img/cover.jpg'}" class="cover ratio ratio-16x9" alt="business collaboration">
                    </div>
                    <div class="body mt-2">
                        <p class="mb-0 fw-bold text-truncate">Finlo Tech Payment
                            fbdfdnbd</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="d-flex profile">
                                <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                                <div class="name pe-2">
                                    <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                                    <span>31 Jan 2022</span>
                                </div>
                            </div>
                            <div>
<!--                             tampilkan open jika collaboration masih di buka-->
<!--                             <a class="btn btn-primary" th:href="@{'/business-collaboration/fino-tech-payment'}">Open</a>-->

<!--                             tampilkan close jika sudh ditutup-->
                                <button class="btn btn-danger">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--end card collaboration item-->
        <!--start card collaboration item-->
        <div class="col">
                <div class="card">
                    <div class="ratio ratio-16x9">
                        <img th:src="@{'/img/cover.jpg'}" class="cover ratio ratio-16x9" alt="business collaboration">
                    </div>
                    <div class="body mt-2">
                        <p class="mb-0 fw-bold text-truncate">Finlo Tech Payment
                            fbdfdnbd</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="d-flex profile">
                                <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                                <div class="name pe-2">
                                    <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                                    <span>31 Jan 2022</span>
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-primary" th:href="@{'/business-collaboration/fino-tech-payment'}">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--end card collaboration item-->
        <!--start card collaboration item-->
        <div class="col">
                <div class="card">
                    <div class="ratio ratio-16x9">
                    <img th:src="@{'/img/cover.jpg'}" class="cover ratio ratio-16x9" alt="business collaboration">
                    </div>
                    <div class="body mt-2">
                        <p class="mb-0 fw-bold text-truncate">Sempatin ikan bakar patin asli babe cabita</p>
                        <hr>
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="d-flex profile">
                                <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                                <div class="name pe-2">
                                    <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                                    <span>31 Jan 2022</span>
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-primary" th:href="@{'/business-collaboration/fino-tech-payment'}">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!--end card collaboration item-->
    </div>
    <!--pagination-->
    <div class="my-5 pb-5">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--end pagination-->
</div>
</body>
</html>