<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{'/img/favicon.png'}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{'/bootstrap@5.1.3/dist/css/bootstrap.min.css'}">
    <!-- my style-->
    <link th:href="@{'/css/main.css'}" rel="stylesheet">

    <title>Rilite</title>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top" id="mainNavbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/'}">RILITE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItmes"
                aria-controls="menuItmes" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="menuItmes">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/business-collaboration'}">Collaboration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/business-incubation'}">Incubation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/labs'}">Rilite Labs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/events'}">Events</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link" href="#" id="community" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Community-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="community">-->
<!--                        <li><a class="dropdown-item" th:href="@{'/events'}">Events</a></li>-->
<!--                        <li><a class="dropdown-item" th:href="@{'/publications'}">Publications</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
            <div class="d-grid gap-2 d-block d-sm-inline">
                <a th:href="@{'/signin'}" class="btn btn-primary" type="button">Sign In</a>
                <a th:href="@{'/signup'}" class="btn btn-primary" type="button">Sign Up</a>
            </div>
        </div>
    </div>
</nav>
<div layout:fragment="content"></div>
<footer>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
            <a th:href="@{'/'}" class="display-1 brand">RILITE</a>
            <p class="mb-4 mb-md-0">Jl. Ir. H. Djuanda No. 78 Sentul City, Bogor 16810<br>Indonesia Telp. +62 (21) 87962291-93</p>
        </div>
        <div class="col-lg-3 col-md-4 menu">
            <h4>Company</h4>
            <ul>
                <li class="mb-2"><a th:href="@{'/about'}">About</a></li>
                <li class="mb-2"><a th:href="@{'/team'}">Become Rilite Team</a></li>
                <li class="mb-2"><a th:href="@{'/privacy-policy'}">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-3 pt-5">
            <a href="https://facebook.com/" class="me-1"><img th:src="@{'/img/fb.svg'}"></a>
            <a href="https://instagram.com/" class="me-1"><img th:src="@{'/img/ig.svg'}"></a>
            <a href="https://youtube.com/" class="me-1"><img th:src="@{'/img/yt.svg'}"></a>
            <a href="mailto:inkubatorbisnis@tazkia.ac.id"><img th:src="@{'/img/mail.svg'}"></a>
            <p class="mt-2">@ 2022 Rilite . All Right Reserved Powered By. Tazkia Business Incubator</p>
        </div>
    </div>
</div>
</footer>
<th:block layout:fragment="script"></th:block>
<script th:src="@{'/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'}"></script>
<script th:src="@{'/js/main.js'}"></script>

</body>
</html>