/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
/* theme skins */
:root {
    --primary: #4C40F7;
    --secondary: #FE9602;
    --danger: #FF3B2F;
    --warning: #FFCC00;
    --success: #4ADB61;
    --dark: #193766;
    --light: #FFFFFF;
    --disable: #697B98;
    --primary-light: #C6DBFF;
    --primary-soft: #3B82F6;
    --gradient-primary: linear-gradient(300.7deg, #4C40F7 12.6%, #3B82F6 75.65%);
    --gradient-secondary: linear-gradient(121.94deg, #FE9602 0%, #FF3B2F 100%);
    --shadow-primary: 0px 30px 60px rgba(76, 64, 247, 0.25);
    --shadow-secondary: 0px 15px 30px rgba(254, 150, 2, 0.4);
    --shadow-danger: 0px 15px 30px rgba(255, 59, 47, 0.4);
    --shadow-warning: 0px 15px 30px rgba(255, 204, 0, 0.4);
    --shadow-success: 0px 15px 30px rgba(74, 219, 97, 0.4);
    --shadow-dark: 0px 30px 60px rgba(25, 55, 102, 0.25);
    --shadow : -10px 30px 70px rgba(219, 222, 225, 0.4);
}
/* shadow */
.shadow-primary {
    box-shadow: var(--shadow-primary);
}

.shadow-secondary {
    box-shadow: var(--shadow-secondary);
}

.shadow-danger {
    box-shadow: var(--shadow-danger);
}

.shadow-warning {
    box-shadow: var(--shadow-warning);
}
.shadow-success {
    box-shadow: var(--shadow-success);
}

.shadow-dark {
    box-shadow: var(--shadow-dark);
}

.shadow {
    box-shadow: var(--shadow);
}

/* components */
/* buttons */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 10px;
    box-shadow: var(--shadow-primary);
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-primary:focus {
    border-color: var(--dark);
    box-shadow: var(--shadow-dark) !important;
}

.btn-danger {
    background-color: var(--danger);
    border-color: var(--danger);
    border-radius: 10px;
    box-shadow: var(--shadow-danger);
}

.btn-outline-dark {
    border-color: var(--dark);
    color: var(--dark);
    border-radius: 10px;
}

.btn-outline-dark:hover {
    background-color: var(--dark);
}

.btn-outline-dark:focus {
    border-color: none;
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:hover {
    color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

/* alert */
.alert {
    border-radius: 10px;
}

.alert-success {
    color: var(--dark);
    background-color: var(--success);
    border-color: var(--success);
}

/* form */
.form-control,.form-select {
    border-radius: 10px;
}

/* card */
.card {
    background-color: var(--light);
    border-radius: 20px;
    padding: 15px;
    border: none;
    box-shadow: var(--shadow);
}

.card:hover {
    box-shadow: var(--shadow-primary);
    color: var(--dark);
}

.card .cover {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.card .profile,.card .profile .name {
    min-width: 0;
}

/* navbar */
.navbar {
    background-color: var(--light);
}

.navshadow {
    box-shadow: var(--shadow);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary);
}

.navbar .nav-link {
    color: var(--dark);
}

.navbar .nav-link.active, .navbar .nav-link:hover {
    color: var(--primary);
}

.navbar-toggler {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    color: var(--dark);
    background-color: var(--light);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow-primary);
}

.dropdown-item {
    color: var(--dark);
}

.dropdown-item:hover {
    background-color: var(--light);
    color: var(--primary);
}

/* pagination */
.pagination .page-link {
    color: var(--primary);
}

.pagination .page-item.active .page-link {
    color: var(--light);
    background-color: var(--primary);
    border-color: var(--primary);
}

.pagination a:focus {
    box-shadow: none !important;
    border-color: none !important;
}

/*profile*/
.profile-img {
    border-radius: 50%;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: var(--dark);
}

.content {
    min-height: calc(100vh - 372px);
}

.content-body {
    max-width: 800px;
    margin: auto;
}

/*swiper*/
.swiper-slide{
    border-radius: 10px;
    overflow: hidden;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/* homepage */

.highlight-secondary {
    color: var(--secondary);
}

.headline {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.headline .right-arrow {
    position: absolute;
    top: -30px;
    right: -12px;
    z-index: -1;
}

.collaboration-banner {
    background-color: var(--secondary);
    color: var(--light);
    padding: 30px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* sign up page */
.form-wrapper {
    max-width: 512px;
    margin: auto;
}

/*detail collaboration page*/
.collaboration-action {
    background: var(--gradient-secondary);
    border-radius: 15px;
    color: var(--light);
}

footer {
    background-color: var(--primary);
    color: var(--light);
    padding: 80px 0px 80px 0px;
}

footer .brand {
    color: var(--light);
    font-weight: 700;
    text-decoration: none;
}

footer .menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

footer .menu ul li a {
    text-decoration: none;
    color: var(--light);
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .collaboration-banner {
        padding: 30px 0px 30px 30px;
        margin-bottom: 200px;
    }
    .collaboration-banner img {
        margin-bottom: -450px;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }

}
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .collaboration-banner {
        padding: 60px 0px 60px 60px;
    }
}