<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Business</title>
</head>
<body>
<div class="px-4 pt-4 pb-5" layout:fragment="content">
    <div class="heading d-flex flex-wrap justify-content-between align-items-center mb-4">
        <h1>Business</h1>
        <a th:href="@{'/business/add'}" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
            <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg><span class="ms-1">Add</span></a>
    </div>
    <!--
     NOTE:
     1. jika yang login user tampilkan data bisnis yang dimiliki user tersebut dan bisnis yang user tersebut menjadi member
     2. jika yang login admin tampilkan semua data bisnis
     3. bisnis hanya bisa di edit oleh owner, admin maupun member tidak dapat edit bisnis yang bukan miliknya.
     4. download csv column -> 1. Nama Bisnis 2. Owner Name, Owner Email, Category, Status
     -->
    <!--Business Request List-->
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <p><strong>Nabila Tsuroya Batsa</strong> invite you to business : <strong>Hijup Collection</strong></p>
        <button class="btn btn-primary">Accept</button>
        <button class="btn btn-danger">Reject</button>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--end Business Request List-->
    <!--Business-->
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-9">
            <form class="row g-2 align-items-center">
                <div class="col-sm-4 col-md-auto">
                    <select class="form-select me-2" id="category">
                        <option selected>Category...</option>
                        <option value="1">F&B</option>
                        <option value="2">Fashion</option>
                        <option value="3">Fintech</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-auto">
                    <select class="form-select me-2" id="stage">
                        <option selected>Status...</option>
                        <option value="1">Business Idea</option>
                        <option value="2">On Executions</option>
                        <option value="3">Running</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-auto d-grid"><button class="btn btn-primary" type="submit">Download</button></div>
            </form>
        </div>
        <div class="col-md-4 col-lg-3">
            <form class="d-flex justify-content-center my-2">
                <input class="form-control me-2" type="search" placeholder="Search Business" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="table-responsive pb-2">
        <table class="table table-striped">
            <thead>
            <tr class="align-middle">
                <th>Business Name</th>
                <th>Owner</th>
                <th>Category</th>
                <th colspan="2">Status</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr>
                <td>Academyfree</td>
                <td>Dofir Fauzi</td>
                <td>Start Up Education</td>
                <td>Business Idea</td>
                <td class="text-end">
                    <a th:href="@{'/business/profile/academyfree'}" class="btn btn-primary my-1">Profile</a>
                    <a th:href="@{/business/reports(businessId=123)}" class="btn btn-primary my-1">Reports</a>
                    <a th:href="@{/business/documents(businessId=123)}" class="btn btn-primary my-1">Documents</a>
                    <a th:href="@{/business/teams(businessId=123)}" class="btn btn-primary my-1">Teams</a>
                    <a th:href="@{/business/edit(businessId=123)}" class="btn btn-danger my-1">Edit</a>
                </td>
            </tr>
            <tr>
                <td>English Flunetly</td>
                <td>Akbar Mustofa</td>
                <td>Start Up Education</td>
                <td>Business Idea</td>
                <td class="text-end">
                    <a th:href="@{'/business/profile/english-fluently'}" class="btn btn-primary my-1">Profile</a>
                    <a th:href="@{/business/reports(businessId=124)}" class="btn btn-primary my-1">Reports</a>
                    <a th:href="@{/business/documents(businessId=124)}" class="btn btn-primary my-1">Documents</a>
                    <a th:href="@{/business/teams(businessId=124)}" class="btn btn-primary my-1">Teams</a>
                    <a th:href="@{/business/edit(businessId=124)}" class="btn btn-danger my-1">Edit</a>
                </td>
            </tr>
            <tr>
                <td>Ayam Bakar Somad</td>
                <td>Somad Abraham</td>
                <td>Food</td>
                <td>Business Idea</td>
                <td class="text-end">
                    <a th:href="@{'/business/profile/ayam-bakar-somad'}" class="btn btn-primary my-1">Profile</a>
                    <a th:href="@{/business/reports(businessId=125)}" class="btn btn-primary my-1">Reports</a>
                    <a th:href="@{/business/documents(businessId=125)}" class="btn btn-primary my-1">Documents</a>
                    <a th:href="@{/business/teams(businessId=125)}" class="btn btn-primary my-1">Teams</a>
                    <a th:href="@{/business/edit(businessId=125)}" class="btn btn-danger my-1">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="row align-items-center my-1 my-md-0">
                <div class="col-auto">
                    <!--show options-->
                    <form>
                        <div class="row align-items-center">
                            <label class="col-auto">Show</label>
                            <div class="col-auto p-0">
                                <select class="form-select" id="show">
                                    <option selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--end show options-->
                </div>
                <div class="col-auto">
                    <!--row result-->
                    <p class="mb-1 mt-1">Showing 10 from 1312</p>
                    <!--end row result-->
                </div>
            </div>
            <!--pagination-->
            <nav class="my-1 my-md-0">
                <ul class="pagination mb-0">
                    <li class="page-item disabled"><a class="page-link">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!--end pagination-->
        </div>
    </div>
    <!--End Business-->
</div>
</body>
</html>