<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Business Profile - Rilite">
    <meta name="description" content="Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Business Profile</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="hero-section text-center pt-5 pb-2">
        <div class="headline pb-4">
            <h1 class="display-3 fw-bold">Your Business Name Here</h1>
            <p class="lead">Business Category Name</p>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
        </div>
    </div>
    <div class="content-body mb-5">
        <div class="swiper-slide ratio ratio-16x9">
            <img th:src="@{'/img/sempatin.jpg'}" alt="cover">
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center align-items-end my-4">
            <div class="d-flex">
                <img class="img-fluid me-2" th:src="@{'/img/profile.svg'}" alt="profile">
                <div class="name pe-2">
                    <p class="mb-0 fw-bold text-truncate">Ibrahim Ahmad</p>
                    <span>Owner</span>
                </div>
            </div>
            <!-- business status-->
            <div>
                <button class="btn btn-primary">Business Idea</button>
            </div>
            <!-- end business status-->
        </div>
        <p class="lead fw-bold">Business Description</p>
        <div class="mb-5">
            <!-- content render -->
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            <!-- end content render -->
        </div>
        <!-- teams -->
        <div>
            <p class="lead fw-bold">Business Teams</p>
            <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item ps-0">
                    <a class="d-flex align-items-center p-0" th:href="@{'/profile/123'}">
                        <img class="img-fluid profile-img me-2" th:src="@{'/img/profile.svg'}" alt="profil" width="42" height="42">
                        <div>
                            <p class="profile-name fw-bold mb-0">Dofir fauzi</p>
                            <p class="mb-0">CEO</p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item ps-0">
                    <a class="d-flex align-items-center p-0" th:href="@{'/profile/123'}">
                        <img class="img-fluid profile-img me-2" th:src="@{'/img/profile.svg'}" alt="profil" width="42" height="42">
                        <div>
                            <p class="profile-name fw-bold mb-0">Faris Pernandes</p>
                            <p class="mb-0">Programmer</p>
                        </div>
                    </a>
                </li>
                <li class="list-group-item ps-0">
                    <a class="d-flex align-items-center p-0" th:href="@{'/profile/123'}">
                        <img class="img-fluid profile-img me-2" th:src="@{'/img/profile.svg'}" alt="profil" width="42" height="42">
                        <div>
                            <p class="profile-name fw-bold mb-0">Putri Adiningsih</p>
                            <p class="mb-0">Designer</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end teams -->
        <!--tampilkan jika ada file-->
        <p class="lead fw-bold">Business Document</p>
        <ul class="list-group mb-5">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Company Profile</span>
                <a th:href="@{'#'}" class="btn btn-primary">Download</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Busines Model canvas</span>
                <a th:href="@{'#'}" class="btn btn-primary">Download</a>
            </li>
        </ul>
    </div>
</div>
<th:block layout:fragment="script">

</th:block>
</body>
</html>