<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Home - Rilite">
    <meta name="description" content="Rilite business collaboration & incubation aplication">
    <meta name="keywords"
          content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Home</title>
</head>
<body>
<div class="content container" layout:fragment="content">
    <div class="hero-section text-center py-5">
        <div class="headline">
            <h1 class="display-3 fw-bold">Start, Grow & Scale Up your Business with <span class="highlight-secondary">Rilite</span>
            </h1>
            <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
        </div>
        <p class="lead">Rilite is Business Incubation & Collaboration Platform</p>
        <img class="img-fluid" th:src="@{'/img/front-illustration.svg'}">
    </div>
    <div class="row collaboration-banner">
        <div class="col-lg-6 col-md-6">
            <p class="display-3 fw-bold mb-0">Business Collaboration</p>
            <p class="lead">Rilite helping people who want to build business by collaboration</p>
            <a th:href="@{'/business-collaboration'}" class="btn btn-primary mt-3">Explore Now</a>
        </div>
        <div class="col-lg-6 col-md-6">
            <img class="mt-4" th:src="@{'/img/collaboration-illustration.svg'}" alt="business collaboration"
                 width="100%">
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-7">
            <img class="img-fluid" th:src="@{'/img/incubation-illustration.svg'}" alt="incubation">
        </div>
        <div class="col-md-5 ">
            <p class="display-3 fw-bold mb-0">Business <br><span class="highlight-secondary">Incubation</span></p>
            <p class="lead">Rilite helping people who want to start and grow their business with business incubation</p>
            <a th:href="@{'/business-incubation'}" class="btn btn-primary mt-3">Explore Now</a>
        </div>
    </div>
    <div class="row align-items-center flex-md-row-reverse my-5">
        <div class="col-md-7 mb-5">
            <img class="img-fluid" th:src="@{'/img/incubation-illustration.svg'}" alt="incubation">
        </div>
        <div class="col-md-5 mb-5">
            <p class="display-3 fw-bold mb-0">Rilite <span class="highlight-secondary">Labs</span></p>
            <p class="lead">Rilite helping people who want to scale up their business with Rilite Labs</p>
            <a th:href="@{'/labs'}" class="btn btn-primary mt-3">Explore Now</a>
        </div>
    </div>
</div>
</body>
</html>