<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default.html}">
<head>
  <!-- Primary Meta Tags -->
  <meta name="title" content="Collaboration - Rilite">
  <meta name="description" content="Rilite business collaboration & incubation aplication">
  <meta name="keywords"
        content="business, business incubation, business inkubator tazkia, business collaboration, rilite labs, entrepreneur, UMK, consultan">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Collaboration</title>
</head>
<body>
<div class="content container" layout:fragment="content">
  <div class="hero-section text-center py-5">
    <div class="headline">
      <h1 class="display-3 fw-bold">Business <span class="highlight-secondary">Incubation</span>
      </h1>
      <img class="right-arrow" th:src="@{'/img/arrow-right.svg'}" alt="arrow">
      <p class="lead">The right place for you to learn how to start or scale up your business</p>
    </div>
  </div>
  <!--featur-->
  <div class="row my-5">
    <div class="col-md-4 mb-4">
      <div class="card p-4 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="img-fluid mb-4 shadow-primary rounded-circle" th:src="@{'/img/training.svg'}" alt="training" width="80">
        <p class="lead fw-bold">Trainig</p>
        <p>You will learn how to build<br> and run a business</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card p-4 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="img-fluid mb-4 shadow-secondary rounded-circle" th:src="@{'/img/mentoring.svg'}" alt="training" width="80">
        <p class="lead fw-bold">Mentoring</p>
        <p>You will be guided through the process of building and running a business</p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card p-4 d-flex flex-column justify-content-center align-items-center text-center">
        <img class="img-fluid mb-4 shadow-success rounded-circle" th:src="@{'/img/funding.svg'}" alt="training" width="80">
        <p class="lead fw-bold">Funding</p>
        <p>you will get a chance to get<br> business funding</p>
      </div>
    </div>
  </div>
  <!-- end featur-->
  <!-- Fee and payment -->
  <div class="row my-5 py-5">
    <div class="col-md-3 mb-4">
      <p class="fw-bold fs-1 lh-1 text-center text-md-start">Fee &<br>
        Payment<br>
        <span class="highlight-secondary">Options</span></p>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card p-4 text-center d-flex flex-column justify-content-center align-items-center">
        <img class="img-fluid rounded-circle shadow-primary mb-4" th:src="@{'/img/payment.svg'}" alt="payment icon" width="80">
        <p class="fs-4 fw-bold">Program Fee</p>
        <p class="fs-4">Rp. 600.000,-</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card p-4">
        <p class="fs-4 fw-bold">Payment Option</p>
        <div class="d-flex flex-row align-items-start">
          <img class="img-fluid rounded-circle shadow-success me-2" th:src="@{'/img/full-payment.svg'}" alt="full payment" width="35">
          <div>
            <p class="fs-4 fw-bold mb-1">Full Payment</p>
            <p>Safe up your money by paying the fee in cash to Rilite</p>
          </div>
        </div>
        <div class="d-flex flex-row align-items-start">
          <img class="img-fluid rounded-circle shadow-warning me-2" th:src="@{'/img/split-payment.svg'}" alt="full payment" width="35">
          <div>
            <p class="fs-4 fw-bold mb-1">Split payment</p>
            <p>Adjust your payment to fit your spending plan by splitting your fee for up to 6 months!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Fee and payment -->
  <!-- incubation batch-->
  <div class="row collaboration-banner">
    <div class="col-lg-6 col-md-6">
      <p class="display-4 fw-bold mb-0">Business Incubation <br>Batch #1</p>
      <p class="lead">1 March 2022 - 30 August 2022</p>
      <p class="fs-2 fw-bold mb-0">Registration date </p>
      <p class="lead">30 Januari 2022 - 24 Februari 2022</p>
      <a th:href="@{'/business-incubation-register'}" class="btn btn-primary mt-3">Register Now</a>
    </div>
    <div class="col-lg-6 col-md-6">
      <img class="mt-4" th:src="@{'/img/incubation-illustration.svg'}" alt="business collaboration"
           width="100%">
    </div>
  </div>
  <!-- end incubation batch-->
  <!-- FAQ -->
  <div class="row my-5">
    <div class="col-md-5">
      <img class="img-fluid" th:src="@{'/img/question.svg'}" alt="question illustration">
    </div>
    <div class="col-md-7">
      <p class="fs-1 fw-bold">Any <span class="highlight-secondary">Question ?</span></p>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Who can join this program
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Everyone who want to learn how to start, grow and scale up a business
              can join this program.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Is the program online or offline ?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">This program is hybrid, online and offline, for offline training and mentoring
              will be held on Campus Institut Tazkia</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How to join this program ?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sign Up on ower web site and  you can register to join this program.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End FAQ -->
</div>
</body>
</html>