<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Business Incubation Participant</title>
</head>
<body>
<div class="px-4 pt-4 pb-5" layout:fragment="content">
    <div class="heading d-flex flex-wrap justify-content-between align-items-center mb-4">
        <div>
            <h1 class="mb-0">Participant</h1>
            <p class="mb-0">Business Incubation Batch#1</p>
        </div>
        <div>

        </div>
    </div>
    <!--Teams-->
    <div class="row justify-content-end align-items-center">
        <div class="col-md-4 col-lg-3">
            <form class="d-flex justify-content-center my-2">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="table-responsive pb-2">
        <table class="table table-striped">
            <thead>
            <tr class="align-middle">
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Job</th>
                <th>Comapany / Institution</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr>
                <td><a th:href="@{'/profile/123'}">Dofir fauzi</a></td>
                <td>dofirfauzi@tazkia.ac.id</td>
                <td>085881345549</td>
                <td>Karyawan Swasta</td>
                <td>Institut Tazkia</td>
            </tr>
            <tr>
                <td><a th:href="@{'/profile/123'}">Dofir fauzi</a></td>
                <td>dofirfauzi@tazkia.ac.id</td>
                <td>085881345549</td>
                <td>Karyawan Swasta</td>
                <td>Institut Tazkia</td>
            </tr>
            <tr>
                <td><a th:href="@{'/profile/123'}">Dofir fauzi</a></td>
                <td>dofirfauzi@tazkia.ac.id</td>
                <td>085881345549</td>
                <td>Karyawan Swasta</td>
                <td>Institut Tazkia</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="row align-items-center my-1 my-md-0">
                <div class="col-auto">
                    <!--show options-->
                    <form>
                        <div class="row align-items-center">
                            <label class="col-auto">Show</label>
                            <div class="col-auto p-0">
                                <select class="form-select" id="show">
                                    <option selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--end show options-->
                </div>
                <div class="col-auto">
                    <!--row result-->
                    <p class="mb-1 mt-1">Showing 10 from 1312</p>
                    <!--end row result-->
                </div>
            </div>
            <!--pagination-->
            <nav class="my-1 my-md-0">
                <ul class="pagination mb-0">
                    <li class="page-item disabled"><a class="page-link">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            <!--end pagination-->
        </div>
    </div>
    <!--End teams-->
</div>
</body>
</html>